In [47]:
# Import pandas
import pandas as pd
import numpy as np

# Import your data into the pandas dataframe
path = r'C:\Users\anjan\OneDrive\Desktop\My Summer Project\Wiki Aircraft Accidents\Wiki_Aircraft_Accidents.xlsx'
df = pd.read_excel(path)

In [48]:
# Check datatypes
df.dtypes

Unnamed: 0           int64
Tot                 object
C                   object
P                   object
G                   object
N                   object
T\n                 object
Incident[nb 1]\n    object
Aircraft\n          object
Location\n          object
Phase\n             object
Airport\n           object
Distance\n          object
Date\n              object
dtype: object

In [49]:
# Drop column
df.drop('Unnamed: 0', axis = 1, inplace = True)

In [50]:
# Rename columns to remove '\n'
df = df.rename(columns = {'Tot': 'Total', 
                          'C': 'Crew', 
                          'P': 'Passengers', 
                          'G' :'Ground', 
                          'N' : 'Note',
                          'T\n' : 'Type',
                          'Incident[nb 1]\n':'Incident', 
                          'Aircraft\n' : 'Aircraft', 
                          'Location\n':'Location', 
                          'Phase\n': 'Phase', 
                          'Airport\n':'Airport', 
                          'Distance\n':'Distance (in km)', 
                          'Date\n':'Date'})

In [60]:
df

,Total,Crew,Passengers,Ground,Note,Type,Incident,Aircraft,Location,Phase,Airport,Distance (in km),Date
0,1700,11,81,1600,0,INH,American Airlines Flight 11,Boeing 767-223ER,usnewyne,ENR,,,2001-09-11
1,1000,9,56,900,0,INH,United Airlines Flight 175,Boeing 767-222,usnewyne,ENR,,,2001-09-11
2,583,23,560,0,,COM,Pan Am Flight 1736 and,Boeing 747-121,spct,TXI/TOF,TFN,,1977-03-27
3,520,15,505,0,,COM,Japan Airlines Flight 123,Boeing 747SR-46,ju,ENR,,,1985-08-12
4,349,33,316,0,0,COM,Saudi Arabian Flight 763 and,Boeing 747-168B,indic,ENR,,,1996-11-12
5,346,11,335,0,0,COM,Turkish Airlines Flight 981,McDonnell Douglas DC-10-10,fraf,ENR,,,1974-03-03
6,329,22,307,0,0,INB,Air India Flight 182,Boeing 747-237B,atic,ENR,,,1985-06-23
7,301,14,287,0,0,COM,Saudia Flight 163,Lockheed L-1011-200 TriStar,sar,ENR,,,1980-08-19
8,298,15,283,0,0,EXG,Malaysia Airlines Flight 17,Boeing 777-2H6ER,irake,ENR,,,2014-07-17
9,290,16,274,0,0,EXG,Iran Air Flight 655,Airbus A300B2-203,irast,ENR,,,1988-07-03
10,275,18,257,0,0,MIL,Iranian Air Force (15-2280),Ilyushin Il-76MD,irake,ENR,,,2003-02-19
11,273,13,258,2,0,COM,American Airlines Flight 191,McDonnell Douglas DC-10-10,usilid,TOF,ORD,1.4,1979-05-25
12,270,16,243,11,0,INB,Pan Am Flight 103,Boeing 747-121,uns,ENR,,,1988-12-21
13,269,23,246,0,0,EXS,Korean Air Lines Flight 007,Boeing 747-230B,rumon,ENR,,,1983-09-01
14,265,9,251,5,0,COM,American Airlines Flight 587,Airbus A300B4-605R,usnewyb,ENR,,,2001-11-12
15,264,15,249,0,,COM,China Airlines Flight 140,Airbus A300B4-622R,jk,APR,NKM,0.1,1994-04-26
16,261,14,247,0,0,COM,Nigeria Airways Flight 2120,McDonnell Douglas DC-8-61,saj,APR,JED,2.8,1991-07-11
17,257,10,247,0,0,MIL,Algerian Air Force (7T-WIV),Ilyushin Il-76TD,ant,ICL,,,2018-04-11
18,257,20,237,0,0,COM,Air New Zealand Flight 901,McDonnell Douglas DC-10-30,ant,ENR,,,1979-11-28
19,256,8,248,0,0,COM,Arrow Air Flight 1285,McDonnell Douglas DC-8-63CF,canne,ICL,YQX,1,1985-12-12
20,251,2,0,249,,COM,Air Africa (RA-26222),Antonov An-32B,demkin,ICL,NLO,0.6,1996-01-08
21,239,12,227,0,0,COM,Malaysia Airlines Flight 370,Boeing 777-2H6ER,indo,ENR,,,2014-03-08
22,234,12,222,0,0,COM,Garuda Indonesia Flight 152,Airbus A300B4-220,indonme,APR,MES,32,1997-09-26
23,230,18,212,0,0,COM,TWA Flight 800,Boeing 747-131,usnewye,ENR,,,1996-07-17
24,229,14,215,0,0,COM,Swissair Flight 111,McDonnell Douglas MD-11,canno,ENR,,,1998-09-02
25,228,12,216,0,0,COM,Air France Flight 447,Airbus A330-203,at,ENR,,,2009-06-01
26,228,22,206,0,,COM,Korean Air Flight 801,Boeing 747-3B5,usgugua,APR,GUM,4.8,1997-08-06
27,225,19,206,0,0,COM,China Airlines Flight 611,Boeing 747-209B,chintp,ENR,,,2002-05-25
28,224,7,217,0,0,INB,Metrojet Flight 9268,Airbus A321-231,"near Hasna,",ENR,,,2015-10-31
29,223,10,213,0,0,COM,Lauda Air Flight 004,Boeing 767-3Z9ER,thp,ENR,,,1991-05-26
...,...,...,...,...,...,...,...,...,...,...,...,...,...
519,51,6,45,0,1,COM,Air Mali (TZ-ACT)\n,Antonov An-24B,Mali,ICL,TOM,3,1985-02-22
520,51,6,45,0,0,COM,Soviet Navy (CCCP-42332)\n,Tupolev Tu-104A,rupus,ENR,,,1981-02-07
521,51,6,45,0,0,COM,Aeroflot Flight 2022,Tupolev Tu-124V,rukar,ENR,,,1973-12-16
522,51,9,42,0,0,COM,Pan Am Flight 217,Boeing 707-321B,vemai,APR,CCS,9,1968-12-12
523,51,5,46,0,1,COM,Austral Líneas Aéreas Flight 205,Curtiss C-46A-50-CU,argm,APR,MDQ,1.2,1959-01-16
524,51,7,44,0,0,COM,Panair do Brasil Flight 099,Lockheed Constellation,brsaol,ENR,,,1950-07-28
525,50,6,44,0,0,COM,Tatarstan Airlines Flight 363,Boeing 737-53A,kaz,LDG,KZN,,2013-11-17
526,50,4,45,1,0,COM,Colgan Air Flight 3407,Bombardier DHC8-402 Q400,usnewycl,APR,BUF,10,2009-02-12
527,50,,,0,0,MIL,Sudanese Air Force\n,Antonov An-32,suds,ENR,,,1999-06-03
528,50,6,44,0,0,COM,Stavropolskaya Aktsionernaya Avia Flight 1023,Antonov An-24RV,rucher,ENR,,,1997-03-18
529,50,4,46,0,0,COM,Philippine Airlines Flight 206,Hawker Siddeley HS 748,phmu,APR,BAG,19,1987-06-26
530,50,12,38,0,1,COM,Varig Flight 797,Boeing 707-320C,cotb,APR,ABJ,18,1987-01-03
531,50,5,45,0,0,COM,Balkan Bulgarian Airlines (LZ-TUR),Tupolev Tu-134,buls,APR,SOF,4,1984-01-10
532,50,3,47,0,,COM,Spantax Flight 995,McDonnell Douglas DC-10-30,spmal,TOF,AGP,0.45,1982-09-13
533,50,6,44,0,0,COM,Aeropesca Colombia Flight 221,Vickers Viscount 745D,colg,ENR,,,1981-08-26
534,50,6,44,0,0,COM,Somali Airlines Flight 40,Fokker F27 Friendship 600,som,ENR,,,1981-07-20
535,50,4,46,0,0,COM,Olympic Airways Flight 830,NAMC YS-11A-500,gres,APR,KZI,19,1976-11-23
536,50,6,44,0,0,MIL,Royal Air Force (XV216),Lockheed C-130K Hercules C.1P,itpi,ENR,,,1971-11-09
537,50,6,44,0,1,COM,Hughes Airwest Flight 706 and,McDonnell Douglas DC-9-31,uscad,ENR,,,1971-06-06
538,50,5,43,2,,COM,Ariana Afghan Airlines Flight 701,Boeing 727-113C,unefe,APR,LGW,2.5,1969-01-05
539,50,5,45,0,0,COM,All Nippon Airways Flight 533,NAMC YS-11,jse,APR,MYJ,1,1966-11-13
540,50,5,45,0,,COM,Iberia (EC-ATH)\n,Convair CV-440-62,mota,APR,TNG,18,1965-03-31
541,50,5,45,0,,COM,TWA Flight 800,Boeing 707-331,itf,TOF,FCO,,1964-11-23
542,50,7,43,0,0,COM,Panair do Brasil (PP-PDE)\n,Lockheed L-049 Constellation,brma,ENR,,,1962-12-14
543,50,4,46,0,0,COM,Capital Airlines Flight 20,Vickers Viscount 745D,usvirh,ENR,,,1960-01-18
544,50,5,45,0,0,COM,Scottish Airlines (G-ANSY),Avro York,maltz,ENR,,,1956-02-18
545,50,9,41,0,0,COM,Pan Am Flight 202,Boeing 377-10-26,brsan,ENR,,,1952-04-29
546,50,6,44,0,0,COM,United Airlines Flight 615,Douglas DC-6B,uscau,APR,OAK,22,1951-08-24
547,50,5,45,0,0,COM,United Airlines Flight 610,Douglas DC-6,usco,ENR,,,1951-06-30
548,50,3,47,0,0,COM,Pennsylvania Central Airlines Flight 410,Douglas C-54 Skymaster,uswess,ENR,,,1947-06-13

In [52]:
# Changes to column 'Total'
df['Total'] = df['Total'].str.replace('\D+', '')

# Changes to column 'Crew'
df['Crew'] = df['Crew'].str.replace('\[nb \d+\]','')
df['Crew'] = df['Total'].str.replace('\D+', '')

# Changes to column 'Passengers'
df['Passengers'] = df['Passengers'].str.replace('\[nb \d+\]','')

# Changes to column 'Ground'
df['Ground'] = df['Ground'].str.replace('\D+', '')

# Changes to column 'Note'
df['x'] = df['Note'].str.replace('†','0')
df['x'] = df['x'].str.replace('1\*', '1')
df['Note'] = df['x'].str.replace('\n', '')
df.drop('x', axis = 1, inplace = True)
df['Note'] = df['Note'].str.replace('\[nb \d+\]','')

# Changes to column 'Type'
df['Type'] = df['Type'].str.replace('\n','')

# Changes to column 'Phase'
df['Phase'] = df['Phase'].str.replace('\[\d\]','')

# Changes to column 'Airport'
df['Airport']=df['Airport'].str.replace('\n', '')
df['Airport'] = df['Airport'].str.replace('\[nb \d+\]','')

# Changes to column 'Distance'
df['Distance (in km)'] = df['Distance (in km)'].str.replace('\n', '')
df['Distance (in km)'] = df['Distance (in km)'].str.replace('\<','')
df['Distance (in km)'] = df['Distance (in km)'].str.replace('c.','')
df['Distance (in km)'] = df['Distance (in km)'].str.replace('km','')
df['Distance (in km)'] = df['Distance (in km)'].str.replace('unknown','')
df['Distance (in km)'] = df['Distance (in km)'].str.strip()

# Changes to column 'Date'
df['Date'] = df['Date'].str.replace('\n', '')
df['Date']=df['Date'].str.replace('?', '.')

In [61]:
# Change the datatypes of columns
df['Total'] = pd.to_numeric(df['Total'])
df['Crew'] = pd.to_numeric(df['Crew'])
df['Passengers'] = pd.to_numeric(df['Passengers'])
df['Ground'] = pd.to_numeric(df['Ground'])
df['Note'] = pd.to_numeric(df['Note'])
df['Distance (in km)'] = pd.to_numeric(df['Distance (in km)'])
df['Date'] = pd.to_datetime(df['Date'])

In [62]:
df.replace('', np.nan, inplace=True)

In [63]:
# Check the datatypes
df.dtypes

Total                        int64
Crew                       float64
Passengers                 float64
Ground                       int64
Note                       float64
Type                        object
Incident                    object
Aircraft                    object
Location                    object
Phase                       object
Airport                     object
Distance (in km)           float64
Date                datetime64[ns]
dtype: object

In [65]:
# Export cleaned data to Excel
to_path = r'C:\Users\anjan\OneDrive\Desktop\My Summer Project\Wiki Aircraft Accidents\DW_Aircraft Accidents_v3.xlsx'
df.to_excel(to_path)